@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important; 
  border: none !important;
  
}

.react-calendar__tile--active {
    background-color: #77DD77 !important;
    border-radius: 5px;
}
.react-calendar__navigation__label__labelText{
    font-weight: 700;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}