@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
  }
}

.react-calendar {
  width: full !important; 
  border: none !important;
  position: relative !important;
  z-index: 10 !important;
  
}

@media (max-width: 380px) {
  .react-calendar {
    width: 230px !important;
  }
}

@media (max-width: 820px) {
  .react-calendar {
    width: 200px !important;
  }
}
@media (max-width: 1119px) {
  .react-calendar {
    width: 250px !important;
  }
}
.react-calendar__tile--active {
    background-color: #77DD77 !important;
    border-radius: 5px;
}
.react-calendar__navigation__label__labelText{
    font-weight: 700;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border-top-color: transparent;
  border-radius: 50%;
  border: 4px solid #e0e0e0;  /* light gray border */
  border-top: 4px solid #3498db;  /* blue color for the spinner */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
/* Smooth scrolling */
.scrollable-container {
  scroll-behavior: smooth;
  max-height: 700px; /* Adjust height as needed */
  overflow-y: auto; /* Make it scrollable */
  padding-right: 10px; /* Prevent overlapping with scrollbar */
}

/* Scrollbar styling */
.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Subtle scrollbar */
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Lighter background for track */
}

/* Card hover effect */
.activity-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Padding and margin */
.activity-card {
  padding: 16px;
  margin-bottom: 16px;
}

h1, p {
  color: #333;
}

/* Optional: Add rounded corners for a softer look */
.activity-card {
  border-radius: 12px;
}
