@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
  }
}

.react-calendar {
  width: full !important; 
  border: none !important;
  position: relative !important;
  z-index: 10 !important;
  
}
/* @media (max-width: 450px) {
  .react-calendar {
    width: 280px !important;
  }
} */
@media (max-width: 380px) {
  .react-calendar {
    width: 230px !important;
  }
}
/* @media (max-width: 715px) {
  .react-calendar {
    width: full !important;
  }
} */
@media (max-width: 820px) {
  .react-calendar {
    width: 200px !important;
  }
}
@media (max-width: 1119px) {
  .react-calendar {
    width: 250px !important;
  }
}
.react-calendar__tile--active {
    background-color: #77DD77 !important;
    border-radius: 5px;
}
.react-calendar__navigation__label__labelText{
    font-weight: 700;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}